# fly.toml app configuration file generated for vailam on 2026-02-02T01:42:26+05:30
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'vailam'
primary_region = 'bom'

[build]
  image = 'ghcr.io/jjhbk/vailam:latest'

[[mounts]]
  source = 'model_data'
  destination = '/data'

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
